:root {
  -webkit-tap-highlight-color: transparent;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  width: 200px;
}
.btn button {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #77777752;
  padding: 0.5rem 1rem;
  border: 3px solid rgb(231, 231, 231);
  color: #4ecca3;
  border-radius: 10px;
  font-family: "Indie Flower", cursive;
}
button:active {
  transform: scale(0.98);
}
footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
